.hero {
    position: relative;
     max-height: 40rem;

    img {
        filter: brightness(60%);
        width: 100%;
    }

    h1 {
        position: absolute;
        top: 15vw;
        margin: 3rem;
    }

    h2 {
        position: absolute;
        top: 25vw;
        margin: 3rem;
    }


}

.container{
    h2{
        position:absolute;
    }
}
