.hero {
    position: relative;
    max-height: 36rem;
    overflow: hidden;

    img {
        filter: brightness(60%);
        width: 100%; 
    }

    h1 {
        position: absolute;
        top: 50%;
        width:28.5rem;
        left:50%;
         transform: translate(-50%, -50%);
    }
}