.hero {
    position: relative;
    max-height: 32rem;
    overflow: hidden;

    img {
        filter: brightness(60%);
        width: 100%;
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.entete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 1rem 3rem;

    h3 {
        width: 40%;
    }

    p {
        width: 50%;
        text-align: justify;
    }
}

.masonry-container {
    margin: 5rem;
    column-count: 4;
    column-gap: 0.5rem;

    img {
        max-width: 100%;
        margin-bottom: 0.5rem;
        display: block;
        transition: 0.5s ease-in-out;
    }

    img:hover {
        transition: 1s ease-in-out;
        -ms-transform: scale(1.5);
        /* IE 9 */
        -webkit-transform: scale(1.5);
        /* Safari 3-8 */
        transform: scale(1.5);
    }
}

@media screen and (max-width: 768px) {
    .masonry-container {
        column-count: 3;
    }

    .entete {
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .masonry-container {
        column-count: 2;
    }
}