.hero {
    position: relative;
    height: 40rem;

    img {
        filter: brightness(60%);
        width: 100%;
    }

    h1 {
        position: absolute;
        top: 250px;
        left:340px;
        margin: 3rem;
    }
}