<footer class="main-footer">
  <div class="footer-content">
    <div class="footer-column logo-column">
      <img src="images/logo.png" alt="Pavé Union">
    </div>

    <div class="footer-column">
      <h4>CONTACT</h4>
      <p>514-820-9616</p>
      <p>paveunion@outlook.com</p>
      <nav>
      <ul>
        <li><a href="https://www.facebook.com/profile.php?id=100094110366053" target="_blank"><img src="images/facebook.svg" alt="Facebook"></a></li>
        <li><a href="https://www.instagram.com/paveunion/?hl=en" target="_blank"><img src="images/instagram.svg" alt="Instagram"></a></li>
      </ul>    
    </nav>
    </div>

    <div class="footer-divider"></div>

    <div class="footer-column">
      <h4>NOS HEURES</h4>
      <p>Lun - Ven : 8h–18h</p>
      <p>Samedi - Dimanche : Fermé</p>
    </div>

    <div class="footer-divider"></div>

    <div class="footer-column">
      <h4>ADRESSE</h4>
      <p>1372 Rue Isaïe-Jacques,</p>
      <p>Carignan, QC</p>
      <p>J3L 0X1, Canada</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>@2025 Tous droits réservés</p>
    <img src="images/logo.png" alt="Pavé Union" />
  </div>
</footer>
